{% set previousPost = collections.work | getPreviousCollectionItem(page) %}
{% set nextPost = collections.work | getNextCollectionItem(page) %}


<div class="collections-pagination" aria-label="Other work examples">
    <ul class="collections-pagination-list">
        {% if previousPost %}
            <li class="collections-pagination-item">
                <a href="{{ previousPost.url }}">
                    <span class="collections-pagination-link">
                        <span class="collections-pagination-nav">
                            <svg class="pagination-icon-prev" viewBox="0 0 17 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                <path d="M6.4.2.3 6.4c-.2.2-.2.4 0 .6l6.2 5.8c.2.2.4.1.6 0l.8-.9c.2-.2.1-.4 0-.6l-4-3.7h12.5c.2 0 .4-.2.4-.4V6c0-.2-.2-.4-.4-.4H3.8l4-4c.2-.1.2-.4.1-.5L7 .2c-.1-.1-.4-.1-.6 0z" />
                            </svg>
                            <span class="collections-pagination-label">
                                Previous
                            </span>
                        </span>
                        <span class="collections-pagination-previouspost">
                            {{ previousPost.data.title }}
                        </span>
                    </span>
                </a>
            </li>
        {% endif %}
        {% if nextPost %}
             <li class="collections-pagination-item">
                <a href="{{ nextPost.url }}">
                    <span class="collections-pagination-link">
                        <span class="collections-pagination-nav">
                            <span class="collections-pagination-label">
                                Next
                            </span>
                            <svg class="pagination-icon-next" viewBox="0 0 17 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                <path d="m10 .2-.9.9c-.1.1-.1.4 0 .5l4 4H.6c-.2 0-.4.2-.4.4v1.2c0 .2.2.4.4.4h12.5l-3.9 3.7c-.2.2-.2.4 0 .6l.8.9c.2.2.4.2.6 0L16.8 7c.2-.2.2-.4 0-.6L10.7.3c-.3-.2-.5-.2-.7-.1z" />
                            </svg>
                        </span>
                        <span class="collections-pagination-nextpost">
                            {{ nextPost.data.title }}
                        </span>
                    </span>
                </a>
            </li>
        {% endif %}
    <ul>
</div>
