    <ul id="menu">
      <li><a href="/about/index.html" aria-label="About">About</a></li>
      <li><a href="/work/index.html" aria-label="Work">Work</a></li>
      <li><a href="/contact/index.html" aria-label="Contact">Contact</a></li>
    </ul>