// ======================================
//  Buttons
// ======================================


button {
    float: right;
    padding: scut-rem(6 15 6 15);
    line-height: scut-rem(34); 
    margin: 0;
    background: #333333;
    color: #fff;
    display: none;
    vertical-align: top;
    text-decoration: none;
    border: 0;
    &:focus,
    &:hover {
      background: $yellow;
      color: $dark-grey;
      outline: 3px solid transparent;
    }
}

.formbutton {
  float: left;
  width: 100%;
}
