---
layout: layouts/base.njk
title: Contact
---



<div class="headline">
        <h1>{{title}}</h1>
</div>
<div class="content">
<p class="form-content">
    If you would like to discuss my work further or talk about potential projects, please feel free to submit your contact details. 
</p>
<p class="form-content">
     Additionally, you can connect with me via <a href="https://www.linkedin.com/in/will-j-richards/" aria-label="Linkedin">LinkedIn</a>.
</p>
<form   name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
  <fieldset>
    <legend>
      <h2 class="form-content">Your contact details</h2>
    </legend>
    <label class="form-input-label" aria-label="Full name" for="name">Full name</label>
    <input class="form-input" type="text" name="name" id="name">

    <label class="form-input-label" aria-label="Email address" for="email">Email address</label>
    <input class="form-input" type="email" name="email" id="email">

    <label class="form-input-label" aria-label="Message" for="feedback">Message</label>
    <textarea class="form-input-textarea" id="feedback" name="feedback" rows="8"></textarea>
    <!-- add hidden Honeypot input to prevent spams -->
    <label type="hidden" style="display:none !important">
      Don’t fill this out if you’re human:
    </label>
    <input type="hidden" name="bot-field" style="display:none !important">
    </label>
    <button id="formbutton" class="formbutton" type="submit">Send contact details</button>
  </fieldset>
</form>
</div>