<!DOCTYPE html>
<html class="js" lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{title or siteData.title }} | {{siteData.siteTitle}}</title>
        <meta name="description" content="{{siteData.description}}">
        <meta name="keywords" content="{{siteData.keywords}}" />
        <meta property="og:site_name" content="{{siteData.name}}" />
        <meta property="og:description" content="{{description or siteData.description}}" />
        <meta property="og:title" content="{{title or siteData.title }} | {{siteData.name}}" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{{socialimage or siteData.service.socialimage}}" />
        <link rel="author" href="humans.txt" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon-16x16.png">
        <link rel="manifest" href="../../img/site.webmanifest">
        <link href="/css/main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      </head>
      <body>
            <div class="grid">
                <div id="left-spacer-row1"></div>
                {% include 'header.njk' %}
                <div id="right-spacer-row1"></div>
                <div id="left-spacer-row2"></div>
                <script src='/scripts/modernizr-custombuild.js'></script>
                <script  src="/scripts/script.js"></script>
                <main>
                    <div id="circle"></div>
                    {{ content | safe}}
                </main>
                <div class="shape1"></div>
                <div class="shape2"></div>
                <div class="shape3"></div>
                <div class="shape4"></div>
                <div class="shape5"></div>
                <div id="right-spacer-row2"></div>
                <div id="footer-left-spacer"></div>
                {% include 'footer.njk' %}
                <div id="footer-right-spacer"></div>
            </div> 
      </body>
</html>