---
layout: layouts/base.njk
title: Will Richards
description:  A designer who creates user-centric digital products and services.
link: More about Will
url: about/index.html
---

<div class="headline">
    <h1>{{description}}</h1>
    <p><a href="{{url}}">{{link}}</a></p>
</div>

